html {
  /* font-family: 'Open Sans', sans-serif; */
  font-family: 'Roboto Mono', monospace;
}

body {
  /* width: 960px; */
  /* margin: 10px auto; */
  background-color: white;
}

header {
  width: 960px;
  height: 192px;
  margin: 10px auto;
}

.menu {
  display: flex;
  margin: 10px 5%;
  padding: 0;
}

.menu > div {
  flex: 1;

  padding: 7px;
  margin: 3px;

  background-color: aliceblue;
  border-radius: 7px;
  border: 3px solid #efd6f5; /* lightplum */

  text-align: center;
  font-size: 14pt;
}

.menu > div > a {
  text-decoration: none;
  color: #0000cc; /* blue */
}

.menu > div > a:hover {
  color: hotpink;
}

#aboutSection {
  display: flex;
  justify-content: space-around;
  margin: 0 5%;
}

#aboutWords {
  margin: 3px;
  padding: 20px;

  background-color: white;
  border: 3px solid #efd6f5; /* lightplum */
  border-radius: 7px;
  color: #0000cc; /* blue */
}

#aboutWords > p {
  font-size: 14pt;
}

#aboutWords > h2 {
  text-align: center;
}

#aboutWords > p > a {
  text-decoration: none;
  color: hotpink;
}

#aboutSketch {
  align-self: flex-start;

  margin: 3px;
  padding: 20px;

  background-color: white;
  border: 3px solid #efd6f5; /* lightplum */
  border-radius: 7px;
  color: #0000cc; /* blue */
}
